body
{
    background-image:url("../imagens/fundoplantas.png");
    
}


.envolocro
{
    /*background-color:#edb98a;*/
    background-image:url("../imagens/Fundo.png");
    margin-top: 7%;
    padding: 33px;
    opacity: 0.9;
}

.margembtn
{
    margin: 70px;
    border: 2px solid #ffffff;
    height: 45px;
    padding: 2%;
}

.margemcard
{
    margin: 70px;
    border: 2px solid #ffffff;
    padding: 2%;
}

.fotoprincipal
{
    margin-top: -20%;
    margin-bottom: 4%;
}

p{
    color: #1e4e3e;
    font-style: oblique,italic;
    font-weight: 700;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}
.texto-geral{
    color: #1e4e3e;
    font-weight: 500;
    text-align: justify;
    font-family: cursive;
}

a:link, a:visited, a:active{
    color: #1e4e3e;
    font-style: oblique;
    font-weight: 500;
    text-align: justify;
    text-decoration: none;
}

h1{
    color: #1e4e3e;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
}
h2{
    color: #1e4e3e;
    text-align:left;
    font-style: oblique;
    font-family: cursive;
}
